html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5em;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../img/value-propagate-1280.jpg");
  min-height: 40%;
}
.topitem {
  text-transform:uppercase;
}
.w3-content{max-width:700px;}

header img {margin-top:32px;}
footer a{text-decoration:none;}
footer a:hover{color:#c5e19b;}

h1,h2{text-align:center;padding-top:64px;padding-bottom:24px;}
h1 span.heading,h2 span.heading{
  padding:5px 8px;display:inline-block;
  background-color:#000;color:#f3f9e9;
  line-height:normal;letter-spacing:4px;
  text-transform:uppercase}
span.tag{
  display:inline-block;padding:0.05em 0.3em;
  background-color:#222;color:#f3f9e9;
}

#team a{color:#595959;}
.green{color:#000!important;background-color:#c5e19b!important}
.border-brown{border-color: #775544!important}

.accordion h3{margin-bottom:0px;display:block;width:100%;
  text-align:left!important;overflow-x:auto;}
.accordion h3::before{content: "▸ ";}
.accordion h3.open::before{content: "▾ ";}

.legal h2{text-align:left; padding-top:32px; padding-bottom:8px}
.legal address{font-style:normal;margin-left:2pc;padding:1pc 0pc}

img.delimiter{width:100%;max-width:1000px;}

/* links (mail/web/tel) not too close for mobiles */
.thickleading{line-height: 220%;}
.footer{line-height:160%}
